@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: bold; margin: 100px;">Projekt zaliczeniowy JIPP5</h1>
    <p style="font-size: 24px">Aplikacja do zarządzania zadaniami połączona z bazą danych wraz z obsługą logowania</p>
</div>
